
body {
  font-weight: 300;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;

}

.container-fluid {
  padding: 0;
  overflow-x: hidden;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
  font-weight: 300;
}
h1 {
  color: #ff4c0a;
  font-size: 40px;
}
h3 {
  color: #ff4c0a;
  font-weight: 400;
}
h4 {
  color: #ff4c0a;
  font-weight: 400;
  font-size: 20px;
}

p {
  line-height: 28px;
  margin-bottom: 25px;
  font-size: 16px;
}
.centered {
  text-align: center;
}

a {
  color: #3fb0ac;
  word-wrap: break-word;
  -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
  -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
  -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
  -o-transition: color 0.1s ease-in, background 0.1s ease-in;
  transition: color 0.1s ease-in, background 0.1s ease-in;
}
a:hover, a:focus {
  color: #7b7b7b;
  text-decoration: none;
  outline: 0;
}

.header-wrap {
  background-color: #431c5d;
  min-height: 650px;
  padding-top: 30px;
}

.headerwrap h1 {
  margin-bottom: 15px;
  color: white;
  font-size: 45px;
  font-weight: 300;
  letter-spacing: 1px;
}

.appFeature {
  background-color: #c2dde6;
  padding-top: 40px;
  padding-bottom: 40px;
}

.ourTeam {
  background-color: #bccbde;
  padding-top: 40px;
  padding-bottom: 40px;
}

.tech-stack {
  margin-bottom: 40px;
}

.tech-image {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.squished {
  width: auto;
}

footer {
  color: #ff4c0a;
  background-color: #3a3a3a;
  min-height: 200px;
}

.footer-text {
  margin-top: 80px;
  margin-bottom: 20px;
}

.github {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}